@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,600);

* {
    box-sizing: border box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;

}

.banner {
    width: 100%;
    min-height: 100%;
    background-size: cover;
    background-position: center;
    position: relative;
}

.containerfirst {
    background-image: url(../images/Unsplash-homepage.jpg);
    background-size: cover;
    height: 100vh;

}

.containerfirst span {
    display: flex;
    justify-content: center;
    padding-top: 22%;
    color: rgb(68, 22, 22);
    font-size: 3rem;
    text-decoration: double;
    text-transform: uppercase;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* Navbar start */
.navbar {
    width: 100%;
    max-height: 100px;
    margin: auto;
    padding-top: 25px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    background-color: transparent;
    justify-content: space-between;
    position: fixed;
    top: 0;
    z-index: 1;
    overflow: visible;
}

.icon {
    width: 30px;
    height: 5px;
    background: black;
    margin: 3px 0;
    cursor: pointer;
}

.Logo {
    color: black;
    font-size: 50px;
    letter-spacing: 2px;
    cursor: pointer;
    text-shadow: 10cm;
    margin-left: 30px;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    justify-content: space-between;
    /* gap between the words in the navbar */
    padding: 0px 20px;
    /* margin-left: 80px; */
}

.navbar ul li a {
    text-decoration: initial;
    color: black;
    font-weight: 500;
    font-size: 25px;
    text-transform: capitalize;
    padding: 0px 20px;
}

.navbar ul li a:hover {
    color: black;
    background-color: white;
    transition: 0.1s ease 0s;
    border-radius: 60px;
}

nav .scrolled {
    background-color: black;
    color: white;
}

.bgColor1.navbar {
    background-color: #1a2f3e;
}

.bgColor1 .Logo {
    color: white;
}

.bgColor1 .icon {
    background: white;
}

.bgColor1.navbar ul li a {
    color: white;
}

.bgColor1.navbar ul li a:hover {
    color: #1a2f3e;
    background-color: white;
    transition: 0.1s ease 0s;
    border-radius: 60px;
}

.bgColor2.navbar {
    background-color: #eaeaea;
}

.bgColor2 .Logo {
    color: black;
}

.bgColor2 .icon {
    background: black;
}

.bgColor2.navbar ul li a {
    color: black;
}

.search-container {
    /* margin-left: 150px;
    margin-right: 230px; */
    width: 29%;
    /* max-width: 900px; */
    display: flex;
    flex-direction: column;
    position: relative;
}

.searchbar {
    height: 60px;
    background: rgba(174, 180, 183, 0.67);
    display: flex;
    align-items: center;
    font-size: 20px;
    border-radius: 60px;
    padding: 0px 10px;
    border-color: transparent;
}

.searchbar input {
    background: transparent;
    flex: 1;
    border-radius: 60px;
    outline: none;
    padding: 0px 5px;
    height: 45px;
}

::placeholder {
    color: rgb(84, 105, 113);
    font-size: 20px;
}

.search-result-container {
    border-radius: 10px;
    width: 100%;
    margin-bottom: 0px;
    position: absolute;
    top: 70px;
    background-color: white;
    z-index: 1;
    max-height: 500px;
    overflow-y: auto;
}



.dropdown {
    position: static;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 330px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    margin-left: 0px;
    margin-top: -70px;
    left: -10px;
    height: 100vh;
    transition: 1s;
}

.opensidebar {
    left: 0;
}

.dropdown-content a {
    color: black;
    padding: 40px 35px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: rgba(195, 195, 195, 0.944);
}

.dropdown:hover .dropdown-content {
    display: inline-block;
}

.buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
}

.cta{
    gap: 1rem;
}

.cta button{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border: 0;
    cursor: pointer;
}

.cta img{
    height: 50%;
    width: 50%;
    object-fit: contain;
}

/* Navbar ends */
.container {
    position: relative;
    padding-top: 125px;
    padding-bottom: 27px;
    background-color: #1a2f3e;
    background-size: cover;
}

.container .wrapper {
    width: 90vw;
    height: 80vh;
    border: 0px solid black;
    margin: 5rem auto;
    overflow: hidden;
    box-shadow: 1px 2px 30px rgba(0, 0, 0, 0.4);
}

.container .slider-holder {
    display: grid;
    grid-template-columns: repeat(5, 100%);
    height: 100%;
    animation: slide 25s ease infinite;
}

.container #img1 {
    background-color: antiquewhite;
    background: url('../images/img1.jpg');
    background-size: cover;

}

.container #img2 {
    background-color: cadetblue;
    background: url('../images/img2.png');
    background-size: cover;
}

.container #img3 {
    background-color: darkslategray;
    background: url('../images/img3.jpg');
    background-size: cover;
}

.container #img4 {
    background-color: chocolate;
    background: url('../images/img4.jpg');
    background-size: cover;
}

.container #img5 {
    background-color: aliceblue;
    background: url('../images/img5.jpg');
    background-size: cover;
}

.container .button-holder {
    position: absolute;
    bottom: 0%;
    left: 45%;
}

.container .button-holder .dots {
    display: inline-block;
    height: 15px;
    width: 15px;
    border-radius: 3rem;
    background-color: rgba(136, 130, 130, 0.737);
    margin: .4rem .3rem;
}

@keyframes slide {
    0% {
        transform: translateX(0%);
    }

    10% {
        transform: translateX(-100%);
    }

    20% {
        transform: translateX(-100%);
    }

    30% {
        transform: translateX(-200%);
    }

    40% {
        transform: translateX(-200%);
    }

    50% {
        transform: translateX(-300%);
    }

    60% {
        transform: translateX(-300%);
    }

    70% {
        transform: translateX(-400%);
    }

    80% {
        transform: translateX(-400%);
    }

    90% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(0%);
    }
}

.Sub {
    justify-content: center;
    display: flex;
    font-family: sans-serif;
    font-size: 150%;
    /* border: black solid; */
    padding: 80px 110px 10px 110px;
    background-color: #eaeaea;
}

.container2 {
    padding: 50px 30px;
    display: flex;
    justify-content: center;
    line-height: 270px;
    background-color: #eaeaea;
}

.col1 {
    width: 250px;
    margin-bottom: 10px;
    height: 250px;
    color: white;
    padding-inline: 0%;
    margin-inline: 1%;
    display: flex;
    justify-content: center;
    border: 2px solid;
    box-shadow: 1px 2px 30px rgba(0, 0, 0, 0.4);
    opacity: 0;
    transition: all 1s;
    transform: translateY(100%);
    background-color: black;
}

.show {
    opacity: 1;
    transform: translateY(0);
}

.col1 img {
    height: 100%;
    width: 100%;
    overflow: hidden;
    opacity: 1;
}

.col1 img:hover {
    opacity: 1;
    z-index: 0;
}

.text {
    position: absolute;
    font-size: 1rem;
    height: 0px;
    opacity: 2;
    padding-top: 25%;
}

.col1:hover .text {
    padding-top: 25%;
    color: white;
    opacity: 4;
    /* z-index: 1; */
    font-size: 1.5rem;
}

.container3 {
    padding: 0px 0px;
    display: flex;
    justify-content: center;
    line-height: 270px;
    background-color: #eaeaea;
}

.col2 {
    width: 250px;
    margin-bottom: 100px;
    height: 250px;
    color: white;
    padding-inline: 0%;
    margin-inline: 1%;
    display: flex;
    justify-content: center;
    border: 2px solid;
    box-shadow: 1px 2px 30px rgba(0, 0, 0, 0.4);
    opacity: 0;
    transition: all 1s;
    transform: translateY(100%);
    background-color: black;
}

.show {
    opacity: 1;
    transform: translateY(0);
}

.col2 img {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.col2 img:hover {
    opacity: 0.8;
}

.col2:hover .text {
    padding-top: 25%;
    color: white;
    opacity: 4;
    z-index: 1;
    font-size: 1.5rem;
}
.signin{
    display: inline-block;
    position: relative;
}
.login{
    position: absolute;
    top: 100%;
    left: -45%;
    width: 120px;
    height: 100px;
    background: rgba(227, 232, 234, 0.67);
    visibility: hidden;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.signin:hover .login{
    visibility: visible;
}
.login button{
    margin-top: 20px;
    width:80px ;
    height: 30px;
    border-radius: 20px;
    background: rgba(227, 232, 234, 0.67);
}