* {
    box-sizing: border box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.banner {
    width: 100%;
    height: 100vh;
    background-image: url(Background3.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}

/*Navbar Start*/
.navbar {
    width: 95%;
    margin: auto;
    padding-top: 25px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    position: fixed;
    top: 0;
    z-index: 1;
}

.icon {
    width: 30px;
    height: 5px;
    background: black;
    margin: 3px 0;
    cursor: pointer;
}

.Logo {
    color: black;
    font-size: 50px;
    letter-spacing: 2px;
    cursor: pointer;
    text-shadow: 10cm;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    /* gap between the words in the navbar */
}

.navbar ul li a {
    text-decoration: initial;
    color: black;
    font-weight: 500;
    font-size: larger;
    text-transform: capitalize;
    padding: 0px 50px;
}

.navbar ul li a:hover {
    color: grey;
    transition: 0.3s ease 0s;
}

.searchbar {
    width: 100%;
    max-width: 300px;
    height: 60px;
    background: rgba(174, 180, 183, 0.67);
    display: flex;
    align-items: center;
    border-radius: 60px;
    padding: 0px 10px;
}

.searchbar input {
    background: transparent;
    flex: 1;
    border-radius: 60px;
    border-color: transparent;
    outline: none;
    padding: 0px 5px;
    font-size: 20px;
    color: black;
    height: 45px;
}

::placeholder {
    color: rgb(84, 105, 113);
    font-size: medium;
}

.searchbar button img {
    width: 40.4px;
    opacity: 0.6;
    margin-left: 0px;
}

.searchbar button {
    border: 0;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    background: #a3a9c500;
    cursor: pointer;
}

.dropdown {
    position: static;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 350px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    margin-left: -20px;
    margin-top: -65px;
    height: 100vh;
    /* left: -350px; */
    transition: linear 2s;
}

.opensidebar{
    left:0;
}

.dropdown-content a {
    color: black;
    padding: 40px 30px;
    text-decoration: none;
    display: block;

}

.dropdown-content a:hover {
    background-color: rgba(195, 195, 195, 0.944);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.cta .button {
    border: 0;
    width: 60px;
    height: 60px;
    background: rgba(174, 180, 183, 0.670);
    display: block;
    align-items: center;
    border-radius: 60px;
    cursor: pointer;
}

.cta {
    width: 60px;
}

.cta a {
    text-decoration: none;
}
@media (max-width: 1180px) {
    .navbar {
        padding: 10px;
        transition: .2s;
    }

    .navbar ul li a {
        padding: 5px 0;
        margin: 0px 20px;
    }
}

@media (max-width: 975px) {
    .Logo {
        font-size: 40px;
    }

    .navbar {
        padding: 2px;
        transition: .2s;
        margin-top: 10px;
    }

    .navbar ul li a {
        padding: 5px 0;
        margin: 0px 20px;
    }

    .searchbar {
        max-width: 180px;
    }

    .searchbar input {
        padding: 0px 0px;
        width: 40%;
    }
}

@media (max-width: 830px) {
    .banner {
        width: 100%;
    }

    .Logo {
        font-size: 30px;
    }

    .navbar {
        width: 90%;
        padding: 15px;
        margin-top: 10px;
    }

    .navbar ul li a {
        display: none;
    }
}

@media (max-width: 520px) {
    .banner {
        width: 100%;
    }

    .Logo {
        font-size: 25px;
    }

    .navbar {
        width: 90%;
        padding: 25px;
    }

    .navbar ul li a {
        display: none;
    }

    .searchbar {
        max-width: 90px;
    }

    .searchbar input {
        padding: 0px 0px;
        width: 20%;
        font-display: none;
    }
}
/* Navbar ends */

.OuterContainer{
    position: relative;
    height: 80%;
}

.InnerContainer{
    width: 75vw;
    height: 100%;
    margin: 5rem auto;
}

header{
    font-size: 23px;
    padding-top: 70px;
    padding-bottom: 60px;
}

.ContentContainer
{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.Book img{
    width: 50%;
}

.Book{
    display: flex;
    padding-bottom: 55px;
    
}
.content{
    padding-left: 35px;   
    width: 350px;
    position: relative;
}
.BookTitle{
    font-weight: 600;
    color: #222;
    font-size: 24px;
    padding-bottom: 8px;
    overflow: hidden;
}
.AuthorName{
    color: rgb(56, 51, 51);
    font-size: 21px;
    padding-bottom: 5px;
    overflow: hidden;
}
.Description{
    color: rgba(34, 34, 34, 0.568);
    font-size: 21px;
    line-height: 27px;
    word-wrap: break-word;
    padding-bottom: 15px;
}
.read{
    border: 0;
    width: 148px;
    height: 60px;
    font-size: 19px;
    background: rgba(174, 180, 183, 0.670);
    display: flex; 
    align-items: center;
    border-radius: 60px;
    padding: 0px 15px;
    cursor: pointer;
    position: absolute;
    bottom: 0;
}