* {
    box-sizing: border box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.banner {
    width: 100%;
    min-height: 100vh;
    /* padding-bottom: 100px; */
    /* background-image: url('images/wp5090910-gray-aesthetic-wallpapers.jpg'); */
    background-size: cover;
    background-position: center;
    /* position: sticky; */
}

/* Navbar start */
.navbar {
    width: 99%;
    margin: auto;
    padding-top: 25px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    background-color: #1a2f3e;
    justify-content: space-between;
    position: fixed;
    top: 0;
    z-index: 1;
}

.icon {
    width: 30px;
    height: 5px;
    background: antiquewhite;
    margin: 3px 0;
    cursor: pointer;
}

.Logo {
    color: antiquewhite;
    font-size: 50px;
    letter-spacing: 2px;
    cursor: pointer;
    text-shadow: 10cm;
    margin-left: 30px;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    justify-content: space-between;
    /* gap between the words in the navbar */
    padding: 0px 20px;
    /* margin-left: 80px; */
}

.navbar ul li a {
    text-decoration: initial;
    color: antiquewhite;
    font-weight: 500;
    font-size: 25px;
    text-transform: capitalize;
    padding: 0px 20px;
}

.navbar ul li a:hover {
    color: #1a2f3e;
    transition: 0.1s ease 0s;
    background-color: white;
    border-radius: 60px;
}

.search-container {
    /* margin-left: 150px;
    margin-right: 230px; */
    width: 29%;
    /* max-width: 900px; */
    display: flex;
    flex-direction: column;
    position: relative;
}

.searchbar {
    height: 60px;
    background: white;
    display: flex;
    align-items: center;
    font-size: 20px;
    border-radius: 60px;
    padding: 0px 10px;
    border-color: transparent;
}

.searchbar input {
    background: transparent;
    flex: 1;
    border-radius: 60px;
    outline: none;
    padding: 0px 5px;
    height: 45px;
}

::placeholder {
    color: rgb(14, 17, 19);
    font-size: 20px;
}

.search-result-container {
    width: 100%;
    margin-bottom: 0px;
    position: absolute;
    top: 70px;
    background-color: white;
    z-index: 1;
    max-height: 500px;
    overflow-y: auto;
}


.dropdown {
    position: static;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #1a2f3e;
    min-width: 330px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    margin-left: 0px;
    margin-top: -70px;
    left: -10px;
    height: 100vh;
    transition: 1s;
}

.opensidebar {
    left: 0;
}

.dropdown-content a {
    color: rgb(255, 255, 255);
    padding: 40px 35px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: rgba(195, 195, 195, 0.502);
}

.dropdown:hover .dropdown-content {
    display: inline-block;
}

.cta button {
    border: 0;
    width: 60px;
    height: 60px;
    background: white;
    border-radius: 60px;
    cursor: pointer;
}

.cta {

    width: 150px;
    display: inline-flex;
    justify-content: space-between;
}

.cta a {
    text-decoration: none;
    display: flex;
}

@media (max-width: 1180px) {
    .navbar {
        padding: 10px;
        transition: .2s;
    }

    .navbar ul li a {
        padding: 5px 0;
        margin: 0px 20px;
    }
}

@media (max-width: 975px) {
    .Logo {
        font-size: 40px;
    }

    .navbar {
        padding: 2px;
        transition: .2s;
        margin-top: 10px;
    }

    .navbar ul li a {
        padding: 5px 0;
        margin: 0px 20px;
    }

    .searchbar {
        max-width: 180px;
    }

    .searchbar input {
        padding: 0px 0px;
        width: 40%;
    }
}

@media (max-width: 830px) {
    .banner {
        width: 100%;
    }

    .Logo {
        font-size: 30px;
    }

    .navbar {
        width: 90%;
        padding: 15px;
        margin-top: 10px;
    }

    .navbar ul li a {
        display: none;
    }
}

@media (max-width: 520px) {
    .banner {
        width: 100%;
    }

    .Logo {
        font-size: 25px;
    }

    .navbar {
        width: 90%;
        padding: 25px;
    }

    .navbar ul li a {
        display: none;
    }

    .searchbar {
        max-width: 90px;
    }

    .searchbar input {
        padding: 0px 0px;
        width: 20%;
        font-display: none;
    }
}

.OuterContainer {
    position: relative;
    height: 80%;
}

.InnerContainer {
    margin: 5rem auto;
    clear: both;
    font-size: 0.75rem;
    margin: 0 auto;
    overflow: hidden;
    padding: 1rem 0;
    width: 100%;
    height: 100%;
    display: flex;
    /* flex-direction: row; */
}

.basket-container{
    height: 100%;
    overflow-y: auto;
}

.basket {
    width: 55%;
    display: flex;
    flex-direction: column;
    margin-top: 10rem;
    margin-left: 4rem;
    padding-inline: 0%;
    height: 70vh; /* 70% of the viewport height */
    overflow: auto; /* allow for scrolling */
    border: solid 1px black;
    padding: 30px;
    position: relative;
}


.basket-module,
.basket-labels,
.basket-product {
    width: 100%;
}

input,
button,
.basket,
.basket-module,
.basket-labels,
.item,
.price,
.quantity,
.subtotal,
.basket-product,
.product-image,
.product-details {
    float: left;
}

.price:before,
.subtotal:before,
.subtotal-value:before,
.total-value:before,
.promo-value:before {
    content: '₹';
}

.hide {
    display: none;
}

/* aside {
  padding: 0 1rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
} */

.basket-module {
    color: #111;
}

label {
    display: block;
    margin-bottom: 0.3125rem;
}

.promo-code-field {
    border: 1px solid #ccc;
    padding: 0.5rem;
    text-transform: uppercase;
    transition: all 0.2s linear;
    width: 48%;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -o-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

.promo-code-field:hover,
.promo-code-field:focus {
    border: 1px solid rgb(213, 128, 17);
}

.promo-code-cta {
    border-radius: 4px;
    font-size: 0.625rem;
    margin-left: 0.625rem;
    padding: 0.6875rem 1.25rem 0.625rem;
}

.basket-labels {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    margin-top: 1.625rem;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    color: #111;
    display: inline-block;
    padding: 0.625rem 0;
}

li.item-heading{
    padding-left: 3rem;
}

li.price-heading{
    padding-left: 22.5rem;
}

li.quantity-heading{
    padding-left: 4.8rem;
}

li.subtotal-heading{
    padding-left: 5.5rem;
}

.item {
    width: 55%;
}

.price,
.quantity,
.subtotal {
    width: 15%;
    font-size: 1rem;
}

.subtotal {
    text-align: center; 
    font-size: 1rem;
}

.remove {
    bottom: 1.125rem;
    float: right;
    position: absolute;
    right: 8px;
    text-align: right;
    width: 45%;
}

.remove button {
    background-color: #1a2f3e;

    color: white;
    float: none;
    padding: .5rem, .5rem;
    border-radius: 9%;
}

.basket-product {
    border-bottom: 1px solid #ccc;
    padding: 1rem 0;
    position: relative;
}

.product-image {
    width: 35%;
}

.product-details {
    width: 65%;
    padding: 0 1.5rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.product-frame {
    border: 1px solid #aaa;
}

.quantity-field {
    background-color: #ccc;
    border: 1px solid #aaa;
    border-radius: 4px;
    font-size: 0.625rem;
    padding: 2px;
    width: 3.75rem;
}

/* aside {
    float: right;
    position: relative;
    width: 30%;
  } */

.summary {
    background-color: #eee;
    border: 1px solid #aaa;
    /* top: 100rem; */
    position: relative;
    float: right;
    width: 350px;
    height: 400px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    /* margin-top: 15rem; */
}

.summary-total-items {
    color: #666;
    font-size: 1rem;
    text-align: center;
    padding-top: 40px;
}

.summary-subtotal,
.summary-total {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    clear: both;
    margin: 1rem 0;
    overflow: hidden;
    padding: 0.5rem 0;
}

.subtotal-title,
.subtotal-value,
.total-title,
.total-value,
.promo-title,
.promo-value {
    color: #111;
    float: left;
    width: 50%;
}

.summary-promo {
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.promo-title {
    float: left;
    width: 70%;
}

.promo-value {
    color: #8B0000;
    float: left;
    text-align: right;
    width: 30%;
}

.summary-delivery {
    padding-bottom: 3rem;
}

.subtotal-value,
.total-value {
    text-align: right;
    font-size: 1rem;
}

.total-title {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1rem;
}

.summary-checkout {
    display: block;
}

.checkout-cta {
    display: block;
    float: none;
    font-size: 0.75rem;
    text-align: center;
    text-transform: uppercase;
    padding: 0.625rem 0.25rem;
    border-radius: 5%;
    width: 100%;
}

.summary-delivery-selection {
    background-color: #ccc;
    border: 1px solid #aaa;
    border-radius: 4px;
    display: block;
    font-size: 0.825rem;
    height: 34px;
    width: 100%;
}

@media screen and (max-width: 640px) {

    aside,
    .basket,
    .summary,
    .item,
    .remove {
        width: 100%;
    }

    .basket-labels {
        display: none;
    }

    .basket-module {
        margin-bottom: 1rem;
    }

    .item {
        margin-bottom: 1rem;
    }

    .product-image {
        width: 40%;
    }

    .product-details {
        width: 60%;
    }

    .price,
    .subtotal {
        width: 33%;
    }

    .quantity {
        text-align: center;
        width: 34%;
    }

    .quantity-field {
        float: none;
    }

    .remove {
        bottom: 0;
        text-align: left;
        margin-top: 0.75rem;
        position: relative;
    }

    .remove button {
        padding: 0;
    }

    .summary {
        margin-top: 1.25rem;
        position: relative;
    }
}

@media screen and (min-width: 641px) and (max-width: 960px) {
    aside {
        padding: 0 1rem 0 0;
    }

    .summary {
        width: 28%;
    }
}

@media screen and (max-width: 960px) {
    main {
        width: 100%;
    }

    .product-details {
        padding: 0 1rem;
    }
}

.popup {
    width: 200px;
    background-color: rgba(195, 195, 195, 0.944);
    border-radius: 6px;
    ;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    color: #333;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
}

.open-popup {
    visibility: visible;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
}


.popup img {
    width: 150px;
    margin-top: -50px;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.popup h2 {
    font-size: 30px;
    font-weight: 500;
    margin: 30px 0 0px;
}

.popup button {
    width: 100%;
    margin-top: 20%;
    padding: 10px 0;
    border: 0;
    outline: none;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}